<header class="bg-red-500 text-white shadow-md">
  <nav class="container mx-auto flex justify-between items-center px-2 py-2">
    <a
      href="/"
      class="<%= currentPage === 'index' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
      title="Index Page"
    >
      Safely Rest
    </a>

    <% if (isLoggedIn) { %> <% if (user?.type === "guest") { %>
    <a
      href="/house-list"
      class="<%= currentPage === 'house-list' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
      title="House List"
    >
      Houses
    </a>
    <a
      href="/favourite-list"
      class="<%= currentPage === 'favourite-list' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
      title="Favourite List"
    >
      Favourite
    </a>
    <% } %> <% if (user?.type === "host") { %>
    <a
      href="/host/host-house-list"
      class="<%= currentPage === 'host-house' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
      title="Host House List"
    >
      Host
    </a>
    <a
      href="/host/add-house"
      class="<%= currentPage === 'addHouse' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
      title="House Add/Edit"
    >
      Add House
    </a>
    <% } %>
    <form action="/logout" method="POST" class="inline">
      <button
        type="submit"
        class="<%= currentPage === 'logout' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
        title="Click to Logout"
      >
        Logout
      </button>
    </form>
    <% } else { %>
    <a
      href="/login"
      class="<%= currentPage === 'LogIn' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
      title="LogIn Page"
    >
      Log In
    </a>
    <% } %>
  </nav>
</header>
