<header class="bg-red-500 text-white shadow-md">
  <nav class="container mx-auto flex justify-between items-center px-2 py-2">
    <a
      href="/"
      class="<%= currentPage === 'index' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
    >
      Safely Rest
    </a>
    <a
      href="/house-list"
      class="<%= currentPage === 'house-list' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
    >
      Houses
    </a>
    <a
      href="/bookings"
      class="<%= currentPage === 'bookings' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
    >
      Booking
    </a>
    <a
      href="/favourite-list"
      class="<%= currentPage === 'favourite-list' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
    >
      Favourite
    </a>
    <a
      href="/host/host-house-list"
      class="<%= currentPage === 'host-house' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
    >
      Host
    </a>
    <a
      href="/host/add-house"
      class="<%= currentPage === 'addHouse' ? 'bg-red-400' : 'hover:bg-red-400' %> px-2 py-2 rounded transition font-bold text-xl"
    >
      Add House
    </a>
  </nav>
</header>
